<form name="createForm">
	<input type="text" ng-model="newItem.Type" placeholder="Type" required />
	<input type="number" min="0" ng-model="newItem.AuthorID" placeholder="0" required />
	<button class="btn" ng-click="pushItem()" ng-disabled="createForm.$invalid">Create</button>
</form>
<form name="updateForm">
	<input type="number" min="0" ng-model="updateItem.ID" placeholder="0" required />
	<input type="text" ng-model="updateItem.Type" placeholder="Type" required />
	<input type="number" min="0" ng-model="updateItem.AuthorID" placeholder="0" required />
	<button class="btn" ng-click="putItem()" ng-disabled="updateForm.$invalid">Update</button>
</form>