<form name="createItemForm" class="create-item form-item">

	<label for="type">Content Type</label>
	<select name="type" ng-model="item.Type">
		<option value="" disabled selected>Select Type</option>
		<option value="generic">Generic</option>
		<option value="raw">Raw</option>
		<option value="twitter">Twitter</option>
	</select>

	<div ng-hide="item.Type == ''">
		<hr>
		
		<fieldset ng-switch on="item.Type"> 
			<div ng-switch-when="">
			</div>
			<div ng-switch-when="twitter">
				<form-twitter-item item="item" form="createItemForm"></form-twitter-item>
			</div>
			<div ng-switch-when="raw">
				<form-raw-item item="item" form="createItemForm"></form-raw-item>
			</div>
			<div ng-switch-default>
				<form-generic-item item="item" form="createItemForm"></form-generic-item>
			</div>
		</fieldset>
		
		<hr>

		<button class="btn btn-primary" ng-click="createItem()" ng-disabled="createItemForm.$invalid">Create</button>
		<button class="btn btn-warning" ng-click="debug()">Debug</button>
	</div>

</form>
