<div class="tile-item" ng-switch on="item.Type">
	<div ng-switch-when="twitter">
		<tile-twitter-item item="item"></tile-twitter-item>
	</div>
	<div ng-switch-when="youtube">
		<tile-youtube-item item="item"></tile-youtube-item>
	</div>
	<div ng-switch-when="streaming-video-v1">
		<tile-streaming-video-v1-item item="item"></tile-streaming-video-v1-item>
	</div>
	<div ng-switch-default>
		<tile-generic-item item="item"></tile-generic-item>
	</div>
	<div class="author-badge">{{item.Author}}</div>
	<div class="type-badge">{{item.Type}}</div>
</div>
