body {
	background-color: rgb(240, 240, 240);
	padding: 0 0 50px 0;
	margin: 0;
	font-family: Arial;
}

hr {
	border-top-color: rgb(208, 208, 208);
}

label {
	font-weight: bold;
}

.right-align {
	text-align: right;
}

.stripe, #maintabber .tabbable .tab-content {
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(208, 208, 208);
	border-bottom: 1px solid rgb(208, 208, 208);

	margin: 0;
	padding: 10px 0 10px 0;

	min-width: 1000px;
	min-height: 320px;
}

.container, #maintabber .tabbable .nav, #maintabber .tabbable .tab-pane  {
	margin: 0 auto 0 auto;
	text-align: left;
	width: 1000px;
	border: none;
}

/* -- App Badge -- */

#appbadge {
	text-align: left;
	margin: 0 auto 20px auto;
}

#appbadge hgroup {
	margin: 10px 0 0 80px;
}

#appbadge img {
	margin: 0 0 0 20px;
	float: left;
}

#appbadge hgroup h1 {
	margin: 0;
	padding-top: 7px;

	font-size: 11pt;

	line-height: 17px;
}

#appbadge hgroup h2 {
	margin: 0;
	padding: 0;

	font-size: 9pt;
	font-weight: normal;

	line-height: 17px;
}

/* -- Login Control -- */

.login-control {
	position: absolute;
	top: 10px;
	right: 10px;
}

.login-control button {
	line-height: 10pt;
}

/* -- Tag Cloud -- */

.tag-cloud .cloud {
	list-style: none;
	padding: 0;
	width: 75%;
	margin: 45px auto 0 auto;
	line-height: 50pt;
}

.tag-cloud .cloud li {
	display: inline-block;
	padding: 3px 10px 3px 10px;
}

.tag-cloud .show-all {
	display: block;
	margin: auto;
}

/* -- Term View -- */

.term-view .control-bar {
	border-bottom: 1px solid rgb(208, 208, 208);
	padding-bottom: 5px;
	font-size: 10pt;
}

.term-view .control-bar .btn {
	line-height: 8pt;
	font-size: 10pt;
}

/* -- Term View Controls -- */

.term-view .grid-view .right, .term-view .list-view .right  {
	padding-top: 15px;
}

.term-view .grid-view .right .map, .term-view .list-view .right .map {
	height: 350px;
	width: 315px;

	margin: 0 auto 15px auto;
}

.term-view .grid-view .right .filter, .term-view .list-view .right .filter  {
	padding-top: 10px;
	padding-bottom: 10px;

	margin-bottom: 20px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgb(208, 208, 208);

	text-align: center;
}

.term-view .grid-view .filter header, .term-view .list-view .filter header {
	margin-bottom: 10px;
}

.term-view .grid-view .filter header label, .term-view .list-view .filter header label {
	display: inline-block;
}

.term-view .grid-view .filter header .btn-group, .term-view .list-view .filter header .btn-group {
	margin-left: 10px;
}

.term-view .map-view .right .filter-map header {
	display: none;
}

.term-view .map-view .filter {
	margin-bottom: 15px;
}

.term-view .grid-view .filter-search, .term-view .list-view .filter-search {
	margin-bottom: 25px;
}

.term-view .grid-view .filter-search input, .term-view .list-view .filter-search input {
	display: block;
	margin: auto;
}

/* -- Term View Grid -- */

.term-view .grid-view .item-list {
	list-style: none;
	padding: 0;
	margin: 0 auto 0 auto;
}

.term-view .grid-view .item-list li {
	float: left;
	width: 20%;

	margin: 2%;

	text-align: center;
	line-height: 140px;
	height: 140px;
}

.term-view .grid-view .tile-item {
	width: 100%;
	height: 140px;
	position: relative;
}

.term-view .grid-view .tile-item img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 140px;
}

.term-view .grid-view .tile-item .author-badge, .term-view .grid-view .tile-item .type-badge{
	position: absolute;
	z-index: 10;

	height: 14pt;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	font-size: 8pt;
	color: white;
	line-height: 14pt;

	overflow-x: hidden;
	overflow-y: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.term-view .grid-view .tile-item .tile-summary-badge {
	position: absolute;
	z-index: 10;

	max-height: 70pt;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	font-size: 10pt;
	color: white;
	line-height: 14pt;

	overflow-x: hidden;
	overflow-y: visible;
	
	text-overflow: ellipsis;
	top: 20px;
	left: 5px;
	width: 85%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

}
.term-view .grid-view .tile-item .tile-summary-badge p{
	overflow-x: hidden;
	overflow-y: visible;
	margin: 0 0 0 0;
}
.term-view .grid-view .tile-item .author-badge {
	top: 0;
	max-width: 75px;
}

.term-view .grid-view .tile-item .type-badge {
	bottom: 0;
	max-width: 120px;
}

/* -- TermView List -- */

.term-view .list-view .item-list {
	list-style: none;
	padding: 0;
	margin: 0 auto 0 auto;
	width: 75%;
}

.term-view .list-view .tile-item {
	position: relative;

	text-align: center;

	width: 100%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	margin: 5px auto 5px auto;

	border: 1px solid rgb(208, 208, 208);
}

.term-view .list-view .tile-item img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 140px;
}

.term-view .list-view .tile-item .author-badge {
	position: absolute;
	z-index: 10;

	top: 0;

	height: 14pt;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	font-size: 8pt;
	color: white;
	line-height: 14pt;
}

.item-list .blur {
	opacity: 0.2;
}

/* -- TermView Map -- */

.term-view .map-view .right  {
	padding-top: 15px;
}

.term-view .map-view .right .map {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 950px;
}

.term-view .map-view .left {
	display: none;
}

/* -- Forms -- */

.form-item input {
	min-width: 250px;
}

.tag-selector .select2-container {
	width: 100%;
}

.tag-selector .select2-container .select2-search-field {
	width: 20px;
}

.error {
	color: red;
}

.error input {
	border-color: red;
}

.form-generic-item, .form-raw-item, .form-youtube-item, .form-twitter-item {
	margin: auto;
	width: 800px;
}

.form-generic-item .map, .form-youtube-item .map, .form-twitter-item .map {
	margin: auto;

	height: 380px;
	width: 380px;
}

/* -- Tileviews -- */

.tile-streamingVideoV1-item {
	padding-top: 25px;
}

/* -- Closeups -- */

.closeup-item {
	padding: 35px 0 20px 0;
}

.closeup-item .closeup-generic-item .map, .closeup-item .closeup-streamingVideoV1-item .map {
	margin: auto;

	height: 400px;
	width: 450px;
}

.closeup-item .closeup-generic-item .left, .closeup-item .closeup-youtube-item .left, .closeup-item .closeup-streamingVideoV1-item .left {
	text-align: center;
}

.closeup-item .closeup-generic-item .left img {
	width: 100%;
	margin-bottom: 15px;
}


.closeup-item .closeup-streamingVideoV1-item .left video {
	width: 100%;
	max-width: 640px;
	margin-bottom: 15px;
}

.closeup-item .closeup-generic-item .left div {
	font-size: 14pt;
	max-width: 80%;
	margin: auto;

	overflow-x: hidden;
	overflow-y: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.closeup-item .closeup-youtube-item .map {
	margin: auto;

	height: 315px;
	width: 315px;
}

/* -- Comments -- */

.form-comment input {
	width: 100%;
}

.comment-list {
	list-style: none;
	padding: 0;
	margin: 0 auto 20px auto;

	max-height: 250px;
	overflow: auto;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgb(208, 208, 208);
}

.comment-list li {
	padding: 5px;
	margin: 5px auto 5px auto;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgb(208, 208, 208);

	width: 95%;
}

.comment header {
	border-bottom: 1px solid rgb(208, 208, 208);
	margin-bottom: 8px;
	padding-bottom: 2px;
}

.comment .author {
	color: rgb(4, 117, 100);
	font-weight: bold;
	margin-right: 6px;
}

.comment .time {
	font-style: italic;
}
/* -- Twitter -- */


.twitter-list {
	list-style: none;
	padding: 5px;
	margin: 0 auto 20px auto;

	max-height: 300px;
	overflow: auto;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid rgb(208, 208, 208);
	border-top: 1px solid rgb(208, 208, 208);
}

.twitter-list li {
	padding: 5px;
	margin: 5px auto 5px auto;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	border: 1px solid rgb(208, 208, 208);

	width: 95%;
}

.twitter header {
	border-bottom: 1px solid rgb(208, 208, 208);
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.twitter header button {
	float:right;
	margin-right: 5px;
}
.twitter .author {
	color: rgb(7, 91, 146);
	font-weight: bold;
	margin-right: 6px;
}

.twitter .time {
	font-style: italic;
	color: #6E7980;
}
.tile-singletweet-item img, .tile-twitter-item img{
	opacity: 0.5;
}

/* -- Modal -- */

.modal {
	overflow: auto;
	max-height: 88%;
	top: 4%;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	padding: 12px;
}

.modal-open  {
	overflow: hidden;
}

.modal .float-control-left {
	position: absolute;
	top: 10px;
	left: 20px;
}

.modal .float-control-right {
	position: absolute;
	top: 10px;
	right: 20px;
}

/* -- Alerts -- */

#alerter {
	position: fixed;
	right: 10px;
	top: 10px;

	width: 400px;

	text-align: left;

	z-index: 2005;
}

#alerter .alert {
	margin-bottom: 10px;
}

/* -- Login -- */

#login-panel form {
	width: 250px;
	margin: auto;
}

#login-panel input {
	width: 95%;
}

#login-panel h2 {
	text-align: right;
	width: 350px;
	margin: auto;
}

.login-modal { /* must come after .modal */
	overflow: auto;
	top: 33%;
	left: 50%;

	height: 200px;
	margin-top: -100px;

	width: 400px;
	margin-left: -200px;

	padding: 20px 10px 40px 10px;
}