body {
	background-color: rgb(240, 240, 240);
	padding: 0 0 50px 0;
	margin: 0;
	font-family: Arial;
}

.stripe, #maintabber .tabbable .tab-content {
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(208, 208, 208);
	border-bottom: 1px solid rgb(208, 208, 208);

	margin: 0;
	padding: 10px 0 10px 0;

	min-width: 1000px;
	min-height: 320px;
}

.container, #maintabber .tabbable .nav, #maintabber .tabbable .tab-pane  {
	margin: 0 auto 0 auto;
	text-align: left;
	width: 1000px;
	border: none;
}

/* -- App Badge -- */

#appbadge {
	text-align: left;
	margin: 0 auto 40px auto;
}

#appbadge hgroup {
	margin: 10px 0 0 80px;
}

#appbadge img {
	margin: 0 0 0 20px;
	float: left;
}

#appbadge hgroup h1 {
	margin: 0;
	padding-top: 7px;

	font-size: 11pt;

	line-height: 17px;
}

#appbadge hgroup h2 {
	margin: 0;
	padding: 0;

	font-size: 9pt;
	font-weight: normal;

	line-height: 17px;
}

/* -- Term View -- */

.term-view .grid {
	list-style: none;
	padding: 0;
	margin: 0 auto 0 auto;
}

.term-view .grid li {
	float: left;
	width: 21%;

	margin: 2%;

	text-align: center;
	line-height: 140px;
	height: 140px;
}

.tile-item {
	width: 100%;
	height: 140px;
	position: relative;
}

.tile-item img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 140px;
}

.tile-item .author-badge {
	position: absolute;
	z-index: 10;

	top: 0;

	height: 14pt;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	font-size: 8pt;
	color: white;
	line-height: 14pt;
}

.term-view .right {
	padding-top: 15px;
}

.term-view .right .map {
	height: 350px;
	width: 315px;
}

/* -- Forms -- */

.form-item hr {
	border-color: rgb(120, 120, 120);
	border-width: 1px;
}

.form-item input {
	min-width: 250px;
}

.form-item label {
	font-weight: bold;
}

.form-item .select2-container {
	width: 265px;
}

.form-item  .select2-container .select2-search-field {
	width: 20px;
}

.error {
	color: red;
}

.error input {
	border-color: red;
}

.form-generic-item, .form-raw-item {
	margin: auto;
	width: 800px;
}

.form-generic-item .map, .closeup-item .map {
	height: 400px;
	width: 450px;
}

/* -- Modal -- */

.modal {
	overflow: scroll;
	max-height: 80%;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	padding: 12px;
}

.modal-open  {
	overflow: hidden;
}

/* -- Alerts -- */

#alerter {
	position: fixed;
	right: 10px;
	top: 10px;

	width: 400px;

	text-align: left;

	z-index: 5;
}

#alerter .alert {
	margin-bottom: 10px;
}