<div class="closeup-raw-item row-fluid">

	<div class="span6">
		<b>Author:</b> {{item.Author}}
		<br>
		<b>ThumbnailURI:</b> <a target="_blank" href="{{item.ThumbnailURI}}">{{item.ThumbnailURI}}</a>
		<br>
		<b>ContentURI:</b> <a target="_blank" href="{{item.ContentURI}}">{{item.ContentURI}}</a>
		<br>
		<b>UploadURI:</b> <a target="_blank" href="{{item.UploadURI}}">{{item.ThumbnailURI}}</a>
		<br>
		<b>StartTime:</b> {{item.StartTime}}
		<br>
		<b>StopTime:</b> {{item.StopTime}}
	</div>

	<div class="span6">
		<b>HasGeo:</b> {{item.HasGeo}}
		<br>
		<b>Heading:</b> {{item.Heading}}
		<br>
		<b>Lat:</b> {{item.Lat}}
		<br>
		<b>Lng:</b> {{item.Lng}}
		<br>
		<b>Tags:</b> {{item.Terms}}
	</div>

</div>

