<fieldset class="form-raw-item row-fluid">

	<fieldset class="span6">
		<label for="ThumbnailURI">ThumbnailURI</label>
		<input type="url" name="ThumbnailURI" ng-model="item.ThumbnailURI">
		<label for="ContentURI">ContentURI</label>
		<input type="url" name="ContentURI" ng-model="item.ContentURI">
		<label for="UploadURI">UploadURI</label>
		<input type="url" name="UploadURI" ng-model="item.UploadURI">

		<label for="Live">Live</label>
		<input type="number" name="Live" min="0" max="1" placeholder="0" ng-model="item.Live">

		<label for="StartTime">StartTime</label>
		<input type="datetime-local" name="StartTime" ng-model="item.StartTime">
		<label for="StopTime">StopTime</label>
		<input type="datetime-local" name="StopTime" ng-model="item.StopTime">
	</fieldset>

	<fieldset class="span6">
		<label for="HasHeading">HasHeading</label>
		<input type="number" name="HasHeading" min="0" max="1" placeholder="0" ng-model="item.HasHeading">

		<label for="Heading">Heading</label>
		<input type="number" step="any" name="Heading" ng-model="item.Heading">

		<label for="HasGeo">HasGeo</label>
		<input type="number" name="HasGeo" min="0" max="1" placeholder="0" ng-model="item.HasGeo">

		<label for="Lat">Lat</label>
		<input type="number" step="any" name="Lat" ng-model="item.Lat">
		<label for="Lng">Lng</label>
		<input type="number" step="any" name="Lng" ng-model="item.Lng">
	</fieldset>

</fieldset>