<div class="closeup-streamingVideoV1-item row-fluid" ng-switch on="item.HasGeo">
	<div ng-switch-when="true">
		<div class="span6 left" ng-switch on="item.Live">
			<div ng-switch-when="true">
				<video hls-video live controls ng-poster="{{item.ContentURI}}/poster/000000001.jpg" x-webkit-airplay="allow">
					<source ng-src="{{item.ContentURI}}/index.m3u8" type="application/x-mpegURL;profile='video/mp2t'">
					<source ng-src="{{item.ContentURI}}/webm_index.m3u8" type="application/x-mpegURL;profile='video/webm; codecs=vp8'">
					<source ng-src="{{item.ContentURI}}/video.webm" type="video/webm; codecs=vp8,vorbis">
				</video>
			</div>
			<div ng-switch-default>
				<video live controls ng-poster="{{item.ContentURI}}/poster/000000001.jpg" x-webkit-airplay="allow">
					<source ng-src="{{item.ContentURI}}/index.m3u8" type="application/x-mpegURL;profile='video/mp2t'">
					<source ng-src="{{item.ContentURI}}/webm_index.m3u8" type="application/x-mpegURL;profile='video/webm; codecs=vp8'">
					<source ng-src="{{item.ContentURI}}/video.webm" type="video/webm; codecs=vp8,vorbis">
				</video>
			</div>
		</div>

		<div class="span6 right" ng-switch on="item.HasHeading">
			<div ng-switch-when="true" ng-switch on="item.Live">
				<div ng-switch-when="true">
					<disp-map item="item" enable-fov enable-dir enable-marker></disp-map>
				</div>
				<div ng-switch-default>
					<disp-map item="item" enable-fov enable-marker></disp-map>
				</div>
			</div>
			<div ng-switch-default>
				<disp-map item="item" enable-marker></disp-map>
			</div>
		</div>
	</div>

	<div class="span12 left" ng-switch on="item.Live">
		<div ng-switch-when="true">
			<video hls-video live controls poster="{{item.ContentURI}}/poster/000000001.jpg" x-webkit-airplay="allow">
				<source ng-src="{{item.ContentURI}}/index.m3u8" type="application/x-mpegURL;profile='video/mp2t'">
				<source ng-src="{{item.ContentURI}}/webm_index.m3u8" type="application/x-mpegURL;profile='video/webm; codecs=vp8'">
				<source ng-src="{{item.ContentURI}}/video.webm" type="video/webm; codecs=vp8,vorbis">
			</video>
		</div>
		<div ng-switch-default>
			<video live controls ng-poster="{{item.ContentURI}}/poster/000000001.jpg" x-webkit-airplay="allow">
				<source ng-src="{{item.ContentURI}}/index.m3u8" type="application/x-mpegURL;profile='video/mp2t'">
				<source ng-src="{{item.ContentURI}}/webm_index.m3u8" type="application/x-mpegURL;profile='video/webm; codecs=vp8'">
				<source ng-src="{{item.ContentURI}}/video.webm" type="video/webm; codecs=vp8,vorbis">
			</video>
		</div>
	</div>
</div>
