<html ng-app='myapp'>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

	<script src="http://code.angularjs.org/1.0.2/angular.min.js"></script>
	<script src="https://raw.github.com/angular-ui/angular-ui/master/common/module.js"></script>
	<script src="https://raw.github.com/angular-ui/angular-ui/master/modules/directives/sortable/sortable.js"></script>

	<script src="grid.js"></script>

	<script type="text/javascript">
		$(function() {
			$( "#jquerysortable" ).sortable();
			$( "#jquerysortable" ).disableSelection();
		});
	</script>
</head>
<body>
	<div ng-controller="Controller" id="angular">
	   <ul id="angularmirror" class="sortable mirror">
			<li ng-repeat="item in list">{{item}}</li>
	   </ul>

	   <ul id="angularsortable" class="sortable" ui-sortable ng-model="list">
			<li ng-repeat="item in list">{{item}}</li>
	   </ul>
	</div>

	<div id="jquery">
		<ul class="sortable" id="jquerysortable">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
			<li>10</li>
			<li>11</li>
			<li>12</li>
		</ul>
	</div>
</body>
</html>
