body {
	text-align: center;
	font-size: 4em;
}

#angularmirror {
	margin: 50px auto 0 auto;
	width: 400px;
	min-height: 500px;
}

.sortable {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 400px;
}

.sortable li {
	float: left;

    width: 100px;
    height: 100px;

    margin: 10px 10px 10px 10px;

    background: #EEE;

    text-align: center;
}

#angularsortable {
	position: absolute;
	top: 0;
	left: 400px;
}

#jquerysortable {
	position: absolute;
	top: 0;
	left: 800px;

}

#angularmirror {
	position: absolute;
	top: 0;
	left: 0;
}

/*
body {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 62.5%;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }

*/