body {
	text-align: center;
	font-size: 4em;
}

#angularmirror {
	margin: 50px auto 0 auto;
	width: 400px;
	min-height: 500px;
}

.sortable {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 400px;
}

.sortable li {
	float: left;

    width: 100px;
    height: 100px;

    margin: 10px 10px 10px 10px;

    background: #EEE;

    text-align: center;
}

.mirror li {
	background: #AAE;
}

#angularmirror {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#angularsortable {
	position: absolute;
	top: 0;
	left: 400px;
	margin: 0;
	padding: 0;
}

#jquerysortable {
	position: absolute;
	top: 0;
	left: 800px;
	margin: 0;
	padding: 0;
}
