<!DOCTYPE html>
<html lang='en' ng-app='rter'>
<head>

	<title>rtER Client</title>

	<!-- CSS -->

	<link href="/vendor/jquery/jquery-ui.css" rel="stylesheet">
	<link href="/vendor/select2/select2.css" rel="stylesheet">
	<link href="/vendor/angular/angular-ui.css" rel="stylesheet">
	<link href="/vendor/angular/bootstrap.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/style_v2.css">

	<!-- VENDOR JS -->

	<script src="/vendor/jquery/jquery.js"></script>

	<script src="/vendor/jquery/jquery-ui.js"></script>

	<script src="/vendor/select2/select2.js"></script>

	<script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular/angular-resource.js"></script>

	<script src="/vendor/angular/angular-ui.js"></script>
	<script src="https://raw.github.com/angular-ui/angular-ui/master/modules/directives/sortable/sortable.js"></script>

	<script src="/vendor/angular/ui-bootstrap-tpls.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcUMaRThwPYcWcyW4U2Rf3xG5YaGr6ZvA&libraries=geometry&sensor=false"></script>

	<script src="/vendor/sockjs.min.js"></script>

	<script src="/vendor/moment.js"></script>

	<script src="/vendor/angular/angular-http-auth.js"></script>

	<!-- App JS -->

	<script type="text/javascript" src="/js/util.js"></script>

	<!-- Custom Angular -->

	<script type="text/javascript" src="/js/rter.js"></script>

	<script type="text/javascript" src="/js/alerts/alerts.js"></script>
	<script type="text/javascript" src="/js/auth/auth.js"></script>
	<script type="text/javascript" src="/js/map/disp-map.js"></script>
	<script type="text/javascript" src="/js/map/edit-map.js"></script>

	<script type="text/javascript" src="/js/items/items.js"></script>
	<script type="text/javascript" src="/js/items/genericItem.js"></script>
	<script type="text/javascript" src="/js/items/rawItem.js"></script>
	<script type="text/javascript" src="/js/items/twitterItem.js"></script>
	<script type="text/javascript" src="/js/items/youtubeItem.js"></script>
	<script type="text/javascript" src="/js/items/streamingVideoV1Item.js"></script>

	<script type="text/javascript" src="/js/sockjs/sockjs.js"></script>
	<script type="text/javascript" src="/js/momentjs/momentjs.js"></script>

	<script type="text/javascript" src="/js/taxonomy/taxonomy.js"></script>

	<script type="text/javascript" src="/js/comments/comments.js"></script>

	<script type="text/javascript" src="/js/termview/termview.js"></script>

</head>
<body ng-controller="RterCtrl">
	
	<div id="alerter" ng-controller="AlertsCtrl">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<header id="appbadge">
		<img src="asset/rter.png" width="50">
		<hgroup>
			<h1>Real-Time Emergency Response</h1>
			<h2>A project for the Mozilla <a target="_blank" href="https://mozillaignite.org/">Ignite Challenge</a></h2>
		</hgroup>
	</header>

	<div ng-controller="TabsCtrl" id="maintabber">
		<tabs>
			<pane heading="Submit New Item">
			 	<create-item>
				</create-item>
			</pane>

			<pane heading="+">
				<tag-cloud></tag-cloud>
 			</pane>

			<pane ng-repeat="view in termViews" heading="{{view.heading}}" active="view.active">
				<termview term="view.term">
				</termview>
			</pane>
		</tabs>
	</div>

</body>
</html>
