<div class="closeup-generic-item row-fluid" ng-switch on="item.HasGeo">
	<div ng-switch-when="true">
		<div class="span6 left">
			<a target="_blank" href="{{item.ContentURI}}">
				<img ng-src="{{item.ThumbnailURI}}">
				<div>{{item.ContentURI}}</div>
			</a>
		</div>

		<div class="span6 right">
			<disp-map item="item" enable-marker></disp-map>
		</div>
	</div>
	<div ng-switch-default>
		<div class="span12">
			<a target="_blank" href="{{item.ContentURI}}">
				<img ng-src="{{item.ThumbnailURI}}">
				<div>{{item.ContentURI}}</div>
			</a>
		</div>
	</div>
</div>
