<div class="form-generic-item row-fluid">
	<div class="span5">
		<div ng-class="{error: form.ContentURI.$invalid}">
			<label for="ContentURI">Content URL</label>
			<input type="url" name="ContentURI" ng-model="item.ContentURI">
		</div>

		<label for="ThumbnailURI">Thumbnail</label>
		<input type="url" name="ThumbnailURI" ng-model="item.ThumbnailURI">

		<label for="Lat">Latitude</label>
		<input type="number" step="any" name="Lat" ng-model="item.Lat">
		<label for="Lng">Longitude</label>
		<input type="number" step="any" name="Lng" ng-model="item.Lng">
	</div>

	<div class="span7">
		<div id="map_canvas" class="map" ui-event="{'map-click': 'setMarker($event)'}" ui-map="map" ui-options="mapOptions"></div>
	</div>
</div>