<div class="tile-singletweet-item">
	<div ng-switch on="item.ThumbnailURI">
		<div ng-switch-when="undefined">
			<img ng-src="https://twitter.com/images/resources/twitter-bird-white-on-blue.png" alt="Twitter Logo">
			<div class="tile-summary-badge" ng-show="item.ContentToken"><p>{{item.ContentToken}}</p></div>
		</div>
		<div ng-switch-when="">
			<img ng-src="https://twitter.com/images/resources/twitter-bird-white-on-blue.png" alt="Twitter Logo">
			<div class="tile-summary-badge" >blablablaasdasd</div>
		</div>
		<div ng-switch-default>
			<img ng-src="{{item.ThumbnailURI}}" alt="Item {{item.ID}} Thumbnail">
		</div>
	</div>
	<!--{{item.ID}} -->
</div>