<div class="term-view">
	<div class="control-bar row-fluid">
		<div class="span6">
			<b>View Mode:</b>
			<div class="btn-group" data-toggle="buttons-checkbox">
			    <button type="button" class="btn btn-primary" ng-model="viewmode" btn-radio="'grid-view'">Grid</button>
			    <button type="button" class="btn btn-primary" ng-model="viewmode" btn-radio="'list-view'">List</button>
			    <button type="button" class="btn btn-primary" ng-model="viewmode" btn-radio="'map-view'">Map</button>
			</div>
		</div>
		<div class="span6 right-align">
			<button class="btn btn-danger" ng-click="close()">Close View</button>
		</div>
	</div>
	
	<div class="{{viewmode}}">
		<div class="row-fluid">
			<div class="left span8">
				<div class="nocontent" ng-show="!items.length">No Content for {{term}}</div>
				<div ng-switch on="term.Term">
					<div ng-switch-when="">
						<ul class="item-list">		
							<li ng-repeat="item in finalFilteredItems | orderBy:'ID':true | orderBy:'StopTime':true"><a href="#" ng-click="closeupItemDialog(item)"><tile-item item="item"></tile-item></a></li>
						</ul>
					</div>
					<div ng-switch-default>
						<ul class="item-list" ui-sortable="{stop: dragCallback, enable: false}" ng-model="rankedItems">		
							<li ng-repeat="item in finalFilteredItems"><a href="#" ng-click="closeupItemDialog(item)"><tile-item item="item"></tile-item></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="right span4">
				<div ng-repeat="bundle in markerBundles" ui-map-marker="bundle.marker"
				  ui-event="{'map-click': 'closeupItemDialog(bundle.item)'}">
				</div>
				<div id="map_canvas" class="map" ui-map="map" ui-options="mapOptions" ui-event="{'map-bounds_changed': 'boundsChanged()', 'map-zoom_changed': 'boundsChanged()'}"></div>

				<div class="map-filter-en">
					<label for="mapFitlerEnable">Use Map as Filter</label>
					<div class="btn-group" name="mapFilterEnable" data-toggle="buttons-checkbox">
					    <button type="button" class="btn btn-primary" ng-model="mapFilterEnable" btn-radio="true">On</button>
					    <button type="button" class="btn btn-primary" ng-model="mapFilterEnable" btn-radio="false">Off</button>
					</div>
				</div>

				<hr>

				<form name="termViewTextSerach" class="text-search">
					<label for="textQuery">Filter Results</label>

					<input type="text" class="search-query" name="textQuery" ng-model="textQuery" placeholder="Search">
				</form>

				<hr>
			</div>
		</div>
	</div>
</div>