<!DOCTYPE HTML>
<html>
<head>
	<title>Grid</title>
	<script type="text/javascript" src="resources/jquery.js"></script>

	<script type="text/javascript" src="resources/jquery.gridster.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/jquery.gridster.css">

	<link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
		var phones, layout, gridster;

		$.ajaxSetup ({
			cache: false
		});

		$(document).ready(function() {
			var was_dragged = false;

			phones = {{.Phones}}
			layout = [{"content_id":"852decd1fbc083cf6853e46feebb08622d653602","col":4,"row":1,"size_x":1,"size_y":1},{"content_id":"e1830fcefc3f47647ffa08350348d7e34b142b0b","col":4,"row":2,"size_x":1,"size_y":1},{"content_id":"952decd1fbc083cf6853e56f1ebb08622d653602","col":3,"row":1,"size_x":1,"size_y":1},{"content_id":"y1830fcefc3f47647ffa05351348d7e34b142b0b","col":4,"row":3,"size_x":1,"size_y":1}];

			$(".gridster > ul").width((140+20)*6);

			gridster = $(".gridster > ul").gridster({
				widget_margins: [10, 10],
				widget_base_dimensions: [140, 140],
				serialize_params: function($w, wgd) { return { content_id: $w.attr('content_id'), col: wgd.col, row: wgd.row, size_x: wgd.size_x, size_y: wgd.size_y } }
			}).data('gridster');

			gridster.cols = 6 //Can't figure out why I'm not getting 6 cols automatically but I'll just force it

			for(var i = 0;i < phones.length;i++) {
				var img = $(document.createElement('img')).attr('src', phones[i].filepath);
				var a = $(document.createElement('a')).attr('href', '#').append(img);
				var li = $(document.createElement('li')).attr('content_id', phones[i].content_id).append(a);
				var coords = gridster.next_position(1, 1);
				gridster.add_widget(li, 1, 1);
			}

			$(".gridster > ul > li > a").click(function(e) {
				e.preventDefault();
				if(was_dragged) {
					was_dragged = false;
				} else {
					if($(this).parent().css("border-width") == "0px") {
						$(this).parent().css("border", "3px solid red");
						// $("#output").text($(this).parent().css("padding"));
					} else {
						$(this).parent().css("border", "none");
					}
				}
			});

			$(".gridster > ul > li > a").mouseup(function(e) {
				if($(this).parent().hasClass("dragging")) {
					was_dragged = true;
				} else {
					was_dragged = false;
				}
			});

			$("#serialize").click(function(e) {
				e.preventDefault();
				layout = gridster.serialize_changed();
				$("#output").text(JSON.stringify(layout));
			});

			$("#reorder").click(function(e) {
				e.preventDefault();

				for(var i = 0;i < layout.length;i++) {
					$w = $("[content_id='"+layout[i].content_id+"']").first();
					gridster.remove_from_gridmap($w.coords().grid);
				}

				for(var i = 0;i < layout.length;i++) {
					$w = $("[content_id='"+layout[i].content_id+"']").first();

					if(!gridster.is_empty(layout[i].col, layout[i].row)) {
						gridster.empty_cells(layout[i].col, layout[i].row, 1, 1);
					}

					//Perform the move
					$w.attr({
						'data-col': layout[i].col,
						'data-row': layout[i].row
					});

					//Change the correct associated position inside the widget
					$w.coords().grid.col = layout[i].col;
					$w.coords().grid.row = layout[i].row;

					//Push it back into the internal mapping
					gridster.add_to_gridmap($w.coords().grid, $w);
				}

				for(var i = 0;i < layout.length;i++) {
					$w = $("[content_id='"+layout[i].content_id+"']").first();
					gridster.add_to_gridmap($w.coords().grid, $w);
				}


				// var chunk = gridster.$widgets.first();

				// //Clear the internal mapping
				// for(var i = 0;chunk.length != 0 && i < layout.length;i++) {
				// 	gridster.remove_from_gridmap(chunk.coords().grid);
				// 	chunk = chunk.next();
				// }

				// chunk = gridster.$widgets.first();
				// for(var i = 0;chunk.length != 0 && i < layout.length;i++) {
				// 	//Perform the move
				// 	chunk.attr({
				// 		'data-col': layout[i].col,
				// 		'data-row': layout[i].row
				// 	});

				// 	//Change the correct associated position inside the widget
				// 	chunk.coords().grid.col = layout[i].col;
				// 	chunk.coords().grid.row = layout[i].row;

				// 	//Push it back into the internal mapping
				// 	gridster.add_to_gridmap(chunk.coords().grid, chunk);

				// 	chunk = chunk.next();
				// }

				//Recompute the CSS height of the container
				gridster.set_dom_grid_height();
				//Assuming we don't want to record the change since we caused it
				gridster.$changed = $([]);
			});

			$("#json").click(function(e) {
				e.preventDefault();
				// $.post(
				// 	"http://localhost:8080/ajax/test", 
				// 	JSON.stringify({socks:"hi", apples:"tt"}),
				// 	function(a) {
				// 		console.log(a);
				// 	},
				// 	"json"
				// );

				$.ajax({
					url: "http://localhost:8080/ajax/test",
					type: 'POST',
					data: JSON.stringify({socks:[9,10,11], apples:true}),
					processData: false,
					dataType: "json",
					contentType: 'application/json',
					success: function(a) { console.log("ok");console.log(a); },
					error: function(a) { console.log("error");console.log(a); }
				});
			});

		});
	</script>

	<style type="text/css">
		body {
			background-color: rgb(101, 120, 120);
			color: rgb(238, 238, 238);
			margin: 0px;
			text-align: center;
		}

		.gridster {
			background-color: rgb(255, 200, 80);
			text-align: center;
			margin: 25px auto 25px auto;
		}

		.gridster ul {
			list-style: none;
			margin: 0px auto 0px auto;
			padding: 0px;
		}

		.gridster ul li {
			background-color: rgb(101, 120, 120);
		}

		.gridster ul li img {
			max-width: 140px;
			max-height: 140px;
		}

		#output {
			margin: 20px auto 20px auto;
			width: 600px;
			background-color: rgb(101, 101, 101);
		}

		.event {
			font-family: 'Unica One', cursive;
			background-color: rgb(200, 200, 200);
			padding: 10px;
			max-width: 120px;
			margin: auto;
		}

		.event a:link {
			text-decoration: none;
			font-weight: bold;
			color: rgb(50, 50, 50);
		}

		.event a:hover {
			text-decoration: underline;
		}

		.event a:active, .event a:visited {
			color: rgb(50, 50, 50);
		}
	</style>
</head>
<body>
	<p id="output"></p>
	
	<div class="event" id="serialize"><a href="#">Serialize</a></div>
	<div class="event" id="reorder"><a href="#">Reorder</a></div>
	<div class="event" id="json"><a href="#">JSON</a></div>

	<div class="gridster">
		<ul>
		</ul>
	</div>
</body>
</html>