<div class="closeup-twitter-item">
	
	<br>
	

	<ul class="twitter-list">
		<li ng-repeat = "tweet in searchResult.results" class="twitter">
			<header>
				<span class="author">{{tweet.from_user}}</span>
				<span class="time">{{tweet.created_at | fromNow}}</span>
			</header>
			<article>{{tweet.text}}</article>
		</li>
	</ul>



	
	<!--	<blockquote class="twitter-tweet" data-cards="hidden" align="center"><p>Search API will now always return "real" Twitter user IDs. The with_twitter_user_id parameter is no longer necessary. An era has ended. ^TS</p>&mdash; Twitter API (@twitterapi) <a href="https://twitter.com/twitterapi/status/133640144317198338">November 7, 2011</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->




	
	
</div>